<div class="wrapper-md">
	<!-- stats -->
	<div class="row">
        <div class="col-md-12">
        	<div class="cover-image">
        			
        	 </div> 
    	</div>
	</div>
	<div class="row">
		 <div class="col-md-12">
		 	<div class="col-md-3">
	 			<div class="row">
	        		<div style="background:url({{donor.profilePicture}}); height: 225px; width: 270px; margin-left: auto; background-size: 100% 100%; background-repeat: no-repeat;">
	        			<button class="btn btn-rounded btn-sm btn-icon btn-default" ng-if="isOwner" ng-click="openModalImage('profile')"><i class="fa fa-edit"></i></button>
	        	 	</div>	
        		 </div>
 				<div class="row">
 					<div class="col-md-12">

 						<b translate="GENERAL-PROFILE.WEBPAGE"></b>
 						<b ng-hide="webPageInEdition">{{donor.webPage}}<button class="btn btn-rounded btn-sm btn-icon btn-default" ng-show="isOwner" ng-click="webPageEditClicked()"><i class="fa fa-edit"></i></button></b>
 						<div ng-show="webPageInEdition">
				          	<div>
				          		<input ng-model="donor.webPage">
				          	</div>
				          	<div>
				          		<br>
				          		<button class="btn btn-rounded btn-sm btn-danger" ng-click="webPageCancelEditing()" translate="BUTTONS.CANCEL"></button>
			          	  		<button class="btn btn-rounded btn-sm btn-info" ng-click="webPageSaveEditing()" translate="BUTTONS.SAVE"></button>
				          	</div>
					    </div>
 						<br>		
 						<b translate="GENERAL-PROFILE.EMAIL"></b>
 						<b ng-hide="emailInEdition">{{donor.userGeneral.email}}<button class="btn btn-rounded btn-sm btn-icon btn-default" ng-show="isOwner" ng-click="emailEditClicked()"><i class="fa fa-edit"></i></button></b>
 						<div ng-show="emailInEdition">
				          	<div>
				          		<input ng-model="donor.userGeneral.email">
				          	</div>
				          	<div>
				          		<br>
				          		<button class="btn btn-rounded btn-sm btn-danger" ng-click="emailCancelEditing()" translate="BUTTONS.CANCEL" ></button>
			          	  		<button class="btn btn-rounded btn-sm btn-info" ng-click="emailSaveEditing()" translate="BUTTONS.SAVE"></button>
				          	</div>
					    </div>
					    <label class="text-danger wrapper" ng-show="error" translate="GENERAL-PROFILE.EMAIL-ERROR"></label>
 						
 						
 						<br>
 						<b translate="DONOR-PROFILE.TOTAL-DONATIONS"></b> 100
 						<br>
 						<b translate="DONOR-PROFILE.MONEY-BROUGHT"></b> 1000
 						<br>
 						<br>
 						<div ng-controller="facebookController">
	            				<a style="width:180px;" href class="btn btn-primary btn-facebook  btn-block indigo"><i
									class="fa fa-facebook pull-left indigo"></i><label
									translate="LOGIN.SHAREPROFILEFACEBOOK" ng-click="postInFacebook(1)" ></label></a>						
	        			</div>
 					</div>
 				</div>
	 		</div>
	 		<div class="col-md-8">
 				<tabset class="tab-container" style="max-height: 650px;">
				    <tab>
				      <tab-heading translate="DONOR-PROFILE.INFORMATION">
				      </tab-heading>
				      <ul class="list-group no-borders pull-in m-b-none">
				        <li class="list-group-item">
				        	<div>
				        		<h2 ng-hide="nameInEdition">{{donor.name}} {{donor.lastName}}<button class="btn btn-rounded btn-sm btn-icon btn-default" ng-if="isOwner" ng-click="nameEditClicked()"><i class="fa fa-edit"></i></button></h2>
						          <div ng-show="nameInEdition">
						          	<div>
						          		<input ng-model="donor.name">
						          	</div>
						          	<br>
						          	<div>
						          		<input ng-model="donor.lastName">
						          	</div>
						          	<div>
						          		<br>
						          		<button class="btn btn-rounded btn-sm btn-danger" ng-click="nameCancelEditing()" translate="BUTTONS.CANCEL"></button>
					          	  		<button class="btn btn-rounded btn-sm btn-info" ng-click="nameSaveEditing()" translate="BUTTONS.SAVE"></button>
						          	</div>
						            <br>
							      </div>
				        	</div>
			        	  <hr>
			        	  <br>
			          	  <h3 translate = "DONOR-PROFILE.WHO"></h3>
				          <p ng-hide="aboutInEdition">{{donor.description}}<button class="btn btn-rounded btn-sm btn-icon btn-default" ng-if="isOwner" ng-click="aboutEditClicked()"><i class="fa fa-edit"></i></button></p>
				          <div ng-show="aboutInEdition">
				          	<div>
				          		<textarea rows="6" cols="90" ng-model="donor.description">
					      		</textarea>
				          	</div>
				          	<div>
				          		<br>
				          		<button class="btn btn-rounded btn-sm btn-danger" ng-click="aboutCancelEditing()" translate="BUTTONS.CANCEL"></button>
			          	  		<button class="btn btn-rounded btn-sm btn-info" ng-click="aboutSaveEditing()" translate="BUTTONS.SAVE"></button>
				          	</div>
					      </div>
				          <br>

			          	  <h3 translate="DONOR-PROFILE.TREE"></h3>
			          	  
						<div  >
							<div data-ng-include=" 'layouts/components/donorTree.html' " ></div>
						</div>

			          	  <h3 translate="DONOR-PROFILE.PHILANTROPIC-PORTFOLIO"></h3>
			          	  <div  data-ng-include=" portfolioURL " ></div>
				        </li>
				      </ul>
				    </tab>
  				</tabset>
	 		</div>
	 		<div class="col-md-1">
	 		</div>
		 </div>
	</div>
</div>
