<div class="wrapper-md" >
	<!-- stats -->
	<div class="row">
        <div class="col-md-12">
        	<div class="cover-image">
        			
        	 </div> 
    	</div>
	</div>
	<div class="row">
		 <div class="col-md-12">
		 	<div class="col-md-3">
	 			<div class="row">
	        		<div style="background:url({{donor.profilePicture}}); height: 225px; width: 270px; margin-left: auto; background-size: 100% 100%; background-repeat: no-repeat;">
	        			<button class="btn btn-rounded btn-sm btn-icon btn-default" ng-if="isOwner" ng-click="openModalImage('profile')"><i class="fa fa-edit"></i></button>
	        	 	</div>	
        		 </div>
 				<div class="row">
 					<div class="col-md-12">
 						<b translate="GENERAL-PROFILE.WEBPAGE"></b>
 						<b ng-hide="webPageInEdition">{{donor.webPage}}<button class="btn btn-rounded btn-sm btn-icon btn-default" ng-show="isOwner" ng-click="webPageEditClicked()"><i class="fa fa-edit"></i></button></b>
 						<div ng-show="webPageInEdition">
				          	<div>
				          		<input ng-model="donor.webPage">
				          	</div>
				          	<div>
				          		<br>
				          		<button class="btn btn-rounded btn-sm btn-danger" ng-click="webPageCancelEditing()" translate="BUTTONS.CANCEL"></button>
			          	  		<button class="btn btn-rounded btn-sm btn-info" ng-click="webPageSaveEditing()" translate="BUTTONS.SAVE"></button>
				          	</div>
					    </div>
 						<br>		
 						<b translate="GENERAL-PROFILE.EMAIL"></b>
 						<b ng-hide="emailInEdition">{{donor.userGeneral.email}}<button class="btn btn-rounded btn-sm btn-icon btn-default" ng-show="isOwner" ng-click="emailEditClicked()"><i class="fa fa-edit"></i></button></b>
 						<div ng-show="emailInEdition">
				          	<div>
				          		<input ng-model="donor.userGeneral.email">
				          	</div>
				          	<div>
				          		<br>
				          		<button class="btn btn-rounded btn-sm btn-danger" ng-click="emailCancelEditing()" translate="BUTTONS.CANCEL" ></button>
			          	  		<button class="btn btn-rounded btn-sm btn-info" ng-click="emailSaveEditing()" translate="BUTTONS.SAVE"></button>
				          	</div>
					    </div>
					    <label class="text-danger wrapper" ng-show="error" translate="GENERAL-PROFILE.EMAIL-ERROR"></label>
 						
 						
 						<br>
 						<b translate="DONOR-PROFILE.TOTAL-DONATIONS"></b> 100
 						<br>
 						<b translate="DONOR-PROFILE.MONEY-BROUGHT"></b> 1000
 						<br>
 					</div>
 				</div>
	 		</div>
	 		<div class="col-md-9">
 				<tabset class="tab-container">
				    <tab>
				      <tab-heading translate="DONOR-PROFILE.INFORMATION">
				      </tab-heading>
				      <ul class="list-group no-borders pull-in m-b-none">
				        <li class="list-group-item">
				        	<div>
				        		<h2 ng-hide="nameInEdition">{{donor.name}} {{donor.lastName}}<button class="btn btn-rounded btn-sm btn-icon btn-default" ng-if="isOwner" ng-click="nameEditClicked()"><i class="fa fa-edit"></i></button></h2>
						          <div ng-show="nameInEdition">
						          	<div>
						          		<input ng-model="donor.name">
						          	</div>
						          	<br>
						          	<div>
						          		<input ng-model="donor.lastName">
						          	</div>
						          	<div>
						          		<br>
						          		<button class="btn btn-rounded btn-sm btn-danger" ng-click="nameCancelEditing()" translate="BUTTONS.CANCEL"></button>
					          	  		<button class="btn btn-rounded btn-sm btn-info" ng-click="nameSaveEditing()" translate="BUTTONS.SAVE"></button>
						          	</div>
						            <br>
							      </div>
				        	</div>
			        	  <hr>
			        	  <br>
			          	  <h3 translate = "DONOR-PROFILE.WHO"></h3>
				          <p ng-hide="aboutInEdition">{{donor.description}}<button class="btn btn-rounded btn-sm btn-icon btn-default" ng-if="isOwner" ng-click="aboutEditClicked()"><i class="fa fa-edit"></i></button></p>
				          <div ng-show="aboutInEdition">
				          	<div>
				          		<textarea rows="6" cols="90" ng-model="donor.description">
					      		</textarea>
				          	</div>
				          	<div>
				          		<br>
				          		<button class="btn btn-rounded btn-sm btn-danger" ng-click="aboutCancelEditing()" translate="BUTTONS.CANCEL"></button>
			          	  		<button class="btn btn-rounded btn-sm btn-info" ng-click="aboutSaveEditing()" translate="BUTTONS.SAVE"></button>
				          	</div>
					      </div>
				          <br>

			          	  <h3 translate="DONOR-PROFILE.TREE"></h3>
			          	  
						<div  >
							<div data-ng-include=" 'layouts/components/donorTree.html' " ></div>
						</div>

			          	  <h3 translate="DONOR-PROFILE.PHILANTROPIC-PORTFOLIO"></h3>
			          	  <div  data-ng-include=" 'layouts/components/donorPortfolio.html' " ></div>
				        </li>
				      </ul>
				    </tab>
				    <tab>
				      <tab-heading translate="DONOR-PROFILE.BILLREPORT">
				      </tab-heading>
				      <div ng-controller="BillReportController">
				      <div class="bg-light lter b-b wrapper-md">
						  <h1 class="m-n font-thin h3" translate="DONOR-PROFILE.TITLE"> Reporte Donaciones</h1>
						</div>
						<div class="row m-b-md" style="padding: 5px;">
							<div class="col-sm-2"></div>
							<div class="col-sm-3">
								<div class="input-group-btn dropdown" dropdown>
						            <select name="account" class="form-control m-b" ng-model="month">
							            <option selected Translate="NONPROFIT-PROFILE.MONTH"></option>
							            <option Translate="MONTH.JAN">01</option>
							            <option Translate="MONTH.FEB">02</option>
							            <option Translate="MONTH.MAR">03</option>
							            <option Translate="MONTH.APR">04</option>
							            <option Translate="MONTH.MAY">05</option>
							            <option Translate="MONTH.JUN">06</option>
							            <option Translate="MONTH.JUL">07</option>
							            <option Translate="MONTH.AUG">08</option>
							            <option Translate="MONTH.SEP">09</option>
							            <option Translate="MONTH.OCT">10</option>
							            <option Translate="MONTH.NOV">11</option>
							            <option Translate="MONTH.DEC">12</option>
						            </select>
						       	</div>
							</div>
							<div class="col-sm-3">
								<div class="input-group-btn dropdown" dropdown>
						            <select name="account" class="form-control m-b" ng-model="year">
							            <option selected Translate="NONPROFIT-PROFILE.YEAR"></option>
							            <option ng-repeat="year in years">{{year}}</option>
						            </select>
						       	</div>
							</div>
							<div class="col-sm-3">
								<button type="submit" class="btn btn-info m-b-lg " ng-click="getReports(1)" translate="NONPROFIT-PROFILE.SEARCH"></button>
							</div>	
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-12">
									<ul class="list-group list-group-alt list-group-lg  pull-in m-b-none campaign-scroll">
										<li class="list-group-item li-posts-result" 
							        		dir-paginate="r in reports | itemsPerPage: reportsRequest.pageSize" total-items="totalReports" pagination-id="report-pagin" current-page="reportsPaginCurrentPage"> 
								          	<div class="row">
								          		<div class="col-sm-3">
								          			<span class=" post-title h4 text-primary m-b-sm block" translate="NONPROFIT-DONATION-REPORT.DATE">Date</span>
								          			<span> {{r.donationDateS}}</span>
								          		</div>
								          		<div class="col-sm-4">
								          			<span class=" post-title h4 text-primary m-b-sm block" translate="NONPROFIT-DONATION-REPORT.AMOUNT">Amount</span>
								          			<span>{{r.amount}}</span>
								          		</div>
								          		<div class="col-sm-3">
								          			<span class=" post-title h4 text-primary m-b-sm block" translate="NONPROFIT-DONATION-REPORT.CAMPAIGN">Campaign</span>
								          			<span>{{r.campaign.name}}</span>
								          		</div>
								          		<div class="col-sm-2">
								          			<span class=" post-title h4 text-primary m-b-sm block" translate="NONPROFIT-DONATION-REPORT.DONOR">Donor</span>
								          			<span>{{r.nonprofit.name}}</span>
								          		</div>
								          	</div>	
								        </li>
									</ul>
								</div>
							</div>
							<div class="row">
								<div class="other-controller">
									<div class="text-center">
										<dir-pagination-controls boundary-links="true"
											on-page-change="getNewReports(newPageNumber)"
											pagination-id="report-pagin"
											template-url="resources/js/libs/angular/dirPagination/dirPagination.tpl.html">
										</dir-pagination-controls>
									</div>
								</div>
							</div>
						</div>
					</div>
				    </tab>
  				</tabset>
	 		</div>
	 		<div class="col-md-1">
	 		</div>
		 </div>
	</div>
</div>
