<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Busqueda de donante</h1>
</div>
<div class="container">
 <div class="row">
 
  <form class="navbar-form navbar-left" role="search">
	       
	   <div class="form-group">
	    <div class="btn-group searchBtnGroup" data-toggle="buttons-radio">
	     <button type="button" class="btn btn-default active" ng-click="setSearchColumn('all',$event)">All</button>
	     <button type="button" class="btn btn-default" ng-click="setSearchColumn('firstName',$event)">First Name</button>
	     <button type="button" class="btn btn-default" ng-click="setSearchColumn('lastName',$event)">Last Name</button>
	    </div>
	   </div>
	   <div class="form-group">
	     <input type="text" class="form-control" placeholder="Search" ng-model="requestObject.searchTerm">
	   </div>
	   </br>
	   <div class="panel panel-default">
            <div class="panel-body">
              <ul>
                <li dir-paginate="donor in donors | filter:q | itemsPerPage: pageSize" current-page="currentPage">{{ donor.name }}</li>           
              </ul>
            </div>
       </div>
	   <div>
          <div class="text-center">
          <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="resources/js/libs/angular/dirPagination/dirPagination.tpl.html">
          </dir-pagination-controls>
          </div>
        </div>  
        
   </form>
     
  </div>
   
</div>
 