<div class="wrapper-md">
  <div class="page-header">
    <h1>Treeseed.org</h1>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <div class="blog-post">                   
        <div class="panel">
          <h2 class="m-t-none"><a href>Por un Mundo Mejor</a></h2>
          <div class="wrapper-lg">
            <div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat. 
              <br><br>
              Phasellus at ultricies neque, quis malesuada augue. Donec eleifend condimentum nisl eu consectetur. Integer eleifend, nisl venenatis consequat iaculis, lectus arcu malesuada sem, dapibus porta quam lacus eu neque.</p>
            </div>
            </div>
        </div>
        <div class="panel">
          <div ng-controller='navigateController'> 
            <h2 class="m-t-none"><a ng-click='navigateCampaing()'>Territorio de Zaguates busca incluir a los Gatitos</a></h2>
            <div class="wrapper-lg">
              <div>
 	              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat.</p>
              </div>
              <h3>Campañas de castracion</h3>
              <p>
              Phasellus at ultricies neque, quis malesuada augue. Donec eleifend condimentum nisl eu consectetur. Integer eleifend, nisl venenatis 
              <div class="panel hbox hbox-auto-xs no-border">
                <div class="col wrapper">
                  <i class="fa fa-circle-o text-info m-r-sm pull-right"></i>
                  <div ng-controller="CarouselDemoCtrl" class="panel b-a" set-ng-animate="false">
                    <carousel interval="myInterval">
                      <slide ng-repeat="slide in slides" active="slide.active">
                        <img ng-src="{{slide.image}}" class="img-full">
                        <div class="carousel-caption">
                          <h4>Slide {{$index}}</h4>
                          <p>{{slide.text}}</p>
                        </div>
                      </slide>
                    </carousel>    
	               </div>
	             </div>
	           </div>
	         </div>
        </div>
	   </div>
	</div>
