<div class="wrapper-md">
  <div class="row">
  	<div class="col-md-12 landing-header-image">
  		<div class="row">
  			<div class="col-md-12">
  				<h1 class="landing-header-text">For a Better world!</h1>
		  		<p class="landing-header-parragraph">
			  		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
			  		ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
			  		 ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
			  		 reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.	
		  		 </p>
  			</div>
  		</div>
  		<div class="row landing-header-botton">
  			<div class="col-md-12">
  				<button class="btn btn-info  btn-addon  btn-lg  let-it-grow-button">
  			 	<i class="fa fa-lemon-o let-it-grow-icon"></i>
  			 	LET IT GROW
			 </button>
  			</div>
  		</div>
  	</div>	
  </div>  
  <div class="row">
  		<div class="col-md-12 landing-info-div">
  			<h1 class="landing-info-header">A very nice welcome message</h1>
  			<p class="landing-info-parragraph">
			  		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
			  		ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
	  		 </p>
  		</div>
  </div> 
  <div class="row">
 		<div class="col-md-6 landing-events-image1">
 			
 			<h1 class="landing-events-header text-u-c">our Stories</h1>
 					<p class="landing-events-text m-t-lg">
 						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
			  		ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
 					</p>
 					
 					<p class="landing-events-text">
 						Lorem ipsum dolor sit amet, consectetur adipiscing eli.
 					</p>
 					
			
 		</div>
 		<div class="col-md-6">
 			<div class="row">
 				<div class="col-md-12 landing-events-image2 ">
 					<h1 class="landing-events-header text-u-c">Events</h1>
 					<p class="landing-events-text m-t-lg">
 						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
			  		ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
 					</p>
 					
 					<p class="landing-events-text">
 						Lorem ipsum dolor sit amet, consectetur adipiscing eli.
 					</p>
 				
 				</div>
 			</div>
 			<div class="row">
 				<div class="col-md-12 landing-events-image3">
 					<h1 class="landing-events-header text-u-c">Our Team</h1>
 					<p class="landing-events-text m-t-lg">
 						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
			  		ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
 					</p>
 					
 					<p class="landing-events-text m-t-lg">
 						Lorem ipsum dolor sit amet, consectetur adipiscing eli.
 					</p>
 					
 				</div>
 			</div>
 			 
 		</div>
  </div>
  		<div class="row">
	  		<div class="col-md-12 landing-info-div">
	  			<h1 class="landing-info-header">How it works?</h1>
	  			<p class="landing-info-parragraph">
				  		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
				  		ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
		  		 </p>
	  		</div>
	  </div> 
	  <div class="row landing-icons-div">
	  	<div class="col-md-4">
	  		
          		<i class="icon-rocket explore"></i>
      			<br><br>
      			<span>Explore</span>
	  	</div>
	  	<div class="col-md-4">
	  		 
          		<i class="icon-bubbles support"></i>
          		<br><br>
      			<span>Support</span>
             
	  	</div>
	  	<div class="col-md-4">
	  		
          		<i class="icon-share share"></i>
          		<br><br>
      			<span>Share</span>
             
	  	</div>
  	</div>
  	<div class="row pink-500">
  		<div class="col-md-6 landing-testimonial-info">
  			<h1 class="landing-testimonial-header text-u-c">Testimonial title</h1>
  			<p class="landing-testimonial-text">
  				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
		  		ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
		  		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
		  		ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
  			</p>
  		</div>
  		<div class="col-md-6">
  			<div class="circular-image"></div>
  		</div>
  	</div>
  	
  	<div class="row">
	  		<div class="col-md-12 landing-info-div">
	  			<h1 class="landing-info-header text-u-c">THINK YOU'VE GOT WHAT IT TAKES?</h1>
	  			
	  			<br>
	  			
	  		<button class="btn btn-info  btn-addon  btn-lg  let-it-grow-button">
  			 	<i class="fa fa-lemon-o let-it-grow-icon"></i>
  			 	CREATE AN ACCOUNT
			 </button>
	  		</div>
	  </div> 
	  <div class="row green-200 landing-page-footer">
	   		<p class="m-b">
                <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon landing"><i class="fa fa-twitter landing"></i></a>
                <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon landing"><i class="fa fa-facebook landing"></i></a>
                <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon landing"><i class="fa fa-google-plus landing"></i></a>
            </p>
	  </div>
</div>
