<div class="wrapper-md">
  <div class="row">
  	<div class="col-md-12 landing-header-image">
  		<div class="row">
  			<div class="col-md-12">
  				<h1 class="landing-header-text" translate="LANDING.HEADER-TITLE">HEADER-TITLE</h1>
		  		<p class="landing-header-parragraph" translate="LANDING.HEADER-TEXT">
			  		HEADER-TEXT
		  		 </p>
  			</div>
  		</div>
  		<div class="row landing-header-botton">
  			<div class="col-md-12">
  				<button class="btn btn-info  btn-addon  btn-lg  let-it-grow-button" >
  			 	<i class="fa fa-lemon-o let-it-grow-icon"></i>
  			 	<span translate="LANDING.HEADER-BUTTON">HEADER-BUTTON</span>
			 </button>
  			</div>
  		</div>
  	</div>	
  </div>  
  <div class="row">
  		<div class="col-md-12 landing-info-div">
  			<h1 class="landing-info-header" translate="LANDING.WELCOME-TITLE">WELCOME-TITLE</h1>
  			<p class="landing-info-parragraph" translate="LANDING.WELCOME-TEXT">
			  		WELCOME-TEXT
	  		 </p>
  		</div>
  </div> 
  <div class="row">
 		<div class="col-md-6 landing-events-image1">
 			
 			<h1 class="landing-events-header text-u-c" translate="LANDING.STORIES-TITLE">STORIES-TITLE</h1>
 					<p class="landing-events-text m-t-lg" translate="LANDING.STORIES-TEXT1">
 						STORIES-TEXT1
 					</p>
 					
 					<p class="landing-events-text" translate="LANDING.STORIES-TEXT2">
 						STORIES-TEXT2
 					</p>
 					
			
 		</div>
 		<div class="col-md-6">
 			<div class="row">
 				<div class="col-md-12 landing-events-image2 ">
 					<h1 class="landing-events-header text-u-c" translate="LANDING.EVENTS-TITLE">EVENTS-TITLE</h1>
 					<p class="landing-events-text m-t-lg" translate="LANDING.EVENTS-TEXT1">
 						EVENTS-TEXT1
 					</p>
 					
 					<p class="landing-events-text" translate="LANDING.EVENTS-TEXT2">
 						EVENTS-TEXT2
 					</p>
 				
 				</div>
 			</div>
 			<div class="row">
 				<div class="col-md-12 landing-events-image3">
 					<h1 class="landing-events-header text-u-c" translate="LANDING.OUR-TEAM-TITLE">OUR-TEAM-TITLE</h1>
 					<p class="landing-events-text m-t-lg" translate="LANDING.OUR-TEAM-TEXT1">
 						OUR-TEAM-TEXT1
 					</p>
 					
 					<p class="landing-events-text m-t-lg" translate="LANDING.OUR-TEAM-TEXT2">
 						OUR-TEAM-TEXT2
 					</p>
 					
 				</div>
 			</div>
 			 
 		</div>
  </div>
  		<div class="row">
	  		<div class="col-md-12 landing-info-div">
	  			<h1 class="landing-info-header" translate="LANDING.HOW-WOKS-TITLE">HOW-WOKS-TITLE</h1>
	  			<p class="landing-info-parragraph" translate="LANDING.HOW-WORKS-TEXT">
				  		HOW-WORKS-TEXT
		  		 </p>
	  		</div>
	  </div> 
	  <div class="row landing-icons-div">
	  	<div class="col-md-4">
	  		
          		<i class="icon-rocket explore"></i>
      			<br><br>
      			<span translate="LANDING.EXPLORE">EXPLORE</span>
	  	</div>
	  	<div class="col-md-4">
	  		 
          		<i class="icon-bubbles support"></i>
          		<br><br>
      			<span translate="LANDING.SUPPORT">SUPPORT</span>
             
	  	</div>
	  	<div class="col-md-4">
	  		
          		<i class="icon-share share"></i>
          		<br><br>
      			<span translate="LANDING.SHARE">SHARE</span>
             
	  	</div>
  	</div>
  	<div class="row pink-500">
  		<div class="col-md-6 landing-testimonial-info">
  			<h1 class="landing-testimonial-header text-u-c" translate="LANDING.TESTIMONIAL-HEADER">TESTIMONIAL-HEADER</h1>
  			<p class="landing-testimonial-text" translate="LANDING.TESTIMONIAL-TEXT">
  				 TESTIMONIAL-TEXT
  			</p>
  		</div>
  		<div class="col-md-6">
  			<div class="circular-image"></div>
  		</div>
  	</div>
  	
  	<div class="row">
	  		<div class="col-md-12 landing-info-div">
	  			<h1 class="landing-info-header text-u-c" translate="LANDING.THINK-YOU-GOT">THINK-YOU-GOT</h1>
	  			
	  			<br>
	  			
	  		<button class="btn btn-info  btn-addon  btn-lg  let-it-grow-button" >
  			 	<i class="fa fa-lemon-o let-it-grow-icon"></i>
  			 	<span translate="LANDING.CREATE-ACCOUNT">CREATE-ACCOUNT</span>
			 </button>
	  		</div>
	  </div> 
	  <div class="row green-200 landing-page-footer">
	   		<p class="m-b">
                <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon landing"><i class="fa fa-twitter landing"></i></a>
                <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon landing"><i class="fa fa-facebook landing"></i></a>
                <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon landing"><span class="linkedin">in</span></i></a>
            </p>
	  </div>
</div>
