	<div ng-init="app.settings.container = false; app.settings.headerFixed = false; app.settings.asideFolded = false; app.settings.asideDock = false;" class="md-navbar navbar blue md-whiteframe-z1" data-ng-include=" '../layouts/components/material.header.html' " >
	</div>
	
	<div ng-controller="menuController">
	 <!-- menu 
	  <div    class="app-aside hidden-xs {{app.settings.asideColor}}">
	  </div>-->
	  <div flex class="app-aside hidden-xs {{app.settings.asideColor}}" data-ng-include="getMenu()">
	  </div>
	  <!-- / menu -->
	</div>

	<div class="app-content">
    	<div ui-butterbar></div>
		<a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".app-aside" ></a>
		<div class="app-content-body fade-in-up" ui-view></div>
  	</div>

	<div ng-init="app.settings.container = false;" class="text-muted" data-ng-include=" '../layouts/components/page_footer.html' " >
	</div>