
	<div  ng-init="app.settings.container = false; app.settings.headerFixed = true;" class="app-header navbar  blue md-whiteframe-z1" 
			ng-controller="headerMenuCtrl"
			data-ng-include=" 'layouts/components/headerMenu.html' " >
	</div>
	
	 <div layout="row">
	 	 <!-- menu -->
	  		<div  ng-init="app.settings.asideFixed = true;" flex class="bg-white-opacity md-whiteframe-z0 md-aside md-content hidden-xs" 
	  		ng-controller="leftMenuCtrl"
	  		data-ng-include="menu">
	  		</div>
	  	<!-- / menu -->
	  	
	  	
	  	 <!-- view -->
	  		<div flex layout="column">
	  			<div ui-butterbar></div>
    			<a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".md-aside" ></a>
    			
	  			<div  class=" main" style="width: 100%; height: 85%; position: absolute;" ui-view></div>
	  		</div>
	  <!-- / view -->
	 </div>
	 
	<div  ng-init="app.settings.container = false;" class="text-muted" style="position: fixed; bottom: 0; width: 100%;" data-ng-include=" 'layouts/components/page_footer.html' " >
	</div>