<div class="wrapper-md" >
	<!-- stats -->
	<div class="row">
        <div class="col-md-12 ">
        
        	<div class="cover-image">
        		<div style="background:url({{nonprofit.mainPicture}}); height: 280px; background-size: 100% 100%; background-repeat: no-repeat;">
        		 <button class="btn btn-rounded btn-sm btn-icon btn-default" ng-if="isOwner" ng-click="openModalImage('cover')"><i class="fa fa-edit"></i></button>
        	 	</div>	
        	 </div>
    	
    	</div>
    	
	</div>
	<div class="row">
		 <div class="col-md-12">
		 	<div class="row">
		 	<div class="col-md-3">
		 		<div class="row">
	        		<div style="background:url({{nonprofit.profilePicture}}); height: 225px; width: 270px; margin-left: auto; background-size: 100% 100%; background-repeat: no-repeat;">
	        			<button class="btn btn-rounded btn-sm btn-icon btn-default" ng-if="isOwner" ng-click="openModalImage('profile')"><i class="fa fa-edit"></i></button>
	        	 	</div>	
        		 </div>
	 			
 				<div class="row">
 					<div class="col-md-12">
 						<b translate="GENERAL-PROFILE.WEBPAGE"></b>
 						<b  ng-hide="webPageInEdition">{{nonprofit.webPage}} <button class="btn btn-rounded btn-sm btn-icon btn-default" ng-if="isOwner" ng-click="webPageEditClicked()"><i class="fa fa-edit"></i></button></b>
 						<div ng-show="webPageInEdition">
				          	<div>
				          		<input ng-model="nonprofit.webPage">
				          	</div>
				          	<div>
				          		<br>
				          		<button class="btn btn-rounded btn-sm btn-danger" ng-click="webPageCancelEditing()" translate="BUTTONS.CANCEL" ></button>
			          	  		<button class="btn btn-rounded btn-sm btn-info" ng-click="webPageSaveEditing()" translate="BUTTONS.SAVE"></button>
				          	</div>
					    </div>
 						
 						<br>
 						<b translate="GENERAL-PROFILE.EMAIL"></b>
 						<b ng-hide="emailInEdition">{{nonprofit.userGeneral.email}}<button class="btn btn-rounded btn-sm btn-icon btn-default" ng-if="isOwner" ng-click="emailEditClicked()"><i class="fa fa-edit"></i></button></b>
 						<div ng-show="emailInEdition">
				          	<div>
				          		<input ng-model="nonprofit.userGeneral.email">
				          	</div>
				          	<div>
				          		<br>
				          		<button class="btn btn-rounded btn-sm btn-danger" ng-click="emailCancelEditing()" translate="BUTTONS.CANCEL" ></button>
			          	  		<button class="btn btn-rounded btn-sm btn-info" ng-click="emailSaveEditing()" translate="BUTTONS.SAVE"></button>
				          	</div>
					    </div>
					     <label class="text-danger wrapper" ng-show="error" translate="GENERAL-PROFILE.EMAIL-ERROR"></label>
 						<br>
 						<b translate="NONPROFIT-PROFILE.DONORS"></b> 
 						<br>
 						<b translate="NONPROFIT-PROFILE.DONATIONS"></b>
 						<br>			
 					</div>
 				</div>
 				<div class="row">
 					<div class="col-md-3"></div>
 					<div class="col-md-9">
 						<md-button class="btn  btn-warning btn-addon" ng-if="showDonationButton" ng-click="showDonation()" translate="DONATION-MODAL.DONATE">
	        		 		<i class="fa fa-dollar"></i>
	        				<span translate="DONATION-MODAL.DONATE">Donate</span>
	      				</md-button>
 					</div>
 				
 				</div>
	 		</div>
	 		<div class="col-md-8 m-l-xs" >	
 				<tabset class="tab-container">
				    <tab>
				      <tab-heading translate="NONPROFIT-PROFILE.PROFILE">
				      </tab-heading>
				      <ul class="list-group no-borders pull-in m-b-none">
				      	<li class="list-group-item">
				        	<h2 ng-hide="nameInEdition"> {{nonprofit.name}} <button class="btn btn-rounded btn-sm btn-icon btn-default" ng-if="isOwner" ng-click="nameEditClicked()"><i class="fa fa-edit"></i></button></h2>
			          	  	<div ng-show="nameInEdition">
				          		<div>
				          			<input class="form-control input-lg" ng-model="nonprofit.name">
				          		</div>
				          		<div>
				          			<br>
				          			<button class="btn btn-rounded btn-sm btn-danger" ng-click="nameCancelEditing()" translate="BUTTONS.CANCEL"><i class="fa fa-fw fa-trash"></i></button>
			          	  			<button class="btn btn-rounded btn-sm btn-info" ng-click="nameSaveEditing()" translate="BUTTONS.SAVE"><i class="fa fa-fw fa-save"></i></button>
				          		</div>
					      	</div>
			          	  	<hr>
			          	  	<br>
							<h3 translate="NONPROFIT-PROFILE.DESCRIPTION"></h3>
				          	<p ng-hide="descriptionInEdition"> {{nonprofit.description}}<button class="btn btn-rounded btn-sm btn-icon btn-default" ng-if="isOwner" ng-click="descriptionEditClicked()"><i class="fa fa-edit"></i></button></p>				           
						   	<div ng-show="descriptionInEdition">
				          		<div>
				          			<textarea rows="6" cols="90" ng-model="nonprofit.description">
					      			</textarea>
				          		</div>
				          		<div>
			          			<br>
				          			<button class="btn btn-rounded btn-sm btn-danger" ng-click="descriptionCancelEditing()" translate="BUTTONS.CANCEL"><i class="fa fa-fw fa-trash"></i></button>
			          	  			<button class="btn btn-rounded btn-sm btn-info" ng-click="descriptionSaveEditing()" translate="BUTTONS.SAVE"><i class="fa fa-fw fa-save"></i></button>
				          		</div>
					      	</div>
				          	<br>
				          	<h3 translate="NONPROFIT-PROFILE.MISSION"></h3>
							<p ng-hide="misionInEdition">{{nonprofit.mision}} <button class="btn btn-rounded btn-sm btn-icon btn-default" ng-if="isOwner" ng-click="misionEditClicked()"><i class="fa fa-edit"></i></button></p>						  
						   	<div ng-show="misionInEdition">
				          		<div>
				          			<textarea rows="6" cols="90" ng-model="nonprofit.mision">
					      			</textarea>
				          		</div>
				          		<div>
				          			<br>
				          			<button class="btn btn-rounded btn-sm btn-danger" ng-click="misionCancelEditing()" translate="BUTTONS.CANCEL"><i class="fa fa-fw fa-trash"></i></button>
			          	  			<button class="btn btn-rounded btn-sm btn-info" ng-click="misionSaveEditing()" translate="BUTTONS.SAVE"><i class="fa fa-fw fa-save"></i></button>
				          		</div>
					      	</div> 
				          	<br>
			          	  	<h3 translate="NONPROFIT-PROFILE.REASON"></h3>
			          	  	<p ng-hide="reasonInEdition">{{nonprofit.reason}} <button class="btn btn-rounded btn-sm btn-icon btn-default" ng-if="isOwner" ng-click="reasonEditClicked()"><i class="fa fa-edit"></i></button></p>
					  		<div ng-show="reasonInEdition">
				          		<div>
				          			<textarea rows="6" cols="90" ng-model="nonprofit.reason">
					      			</textarea>
				          		</div>
				          		<div>
				          			<br>
				          			<button class="btn btn-rounded btn-sm btn-danger" ng-click="reasonCancelEditing()" translate="BUTTONS.CANCEL"><i class="fa fa-fw fa-trash"></i></button>
			          	  			<button class="btn btn-rounded btn-sm btn-info" ng-click="reasonSaveEditing()" translate="BUTTONS.SAVE"><i class="fa fa-fw fa-save"></i></button>
				          		</div>
					      	</div>
				        </li>
				      </ul>
				    </tab>
    				
    				 <tab ng-click="loadCampaigns()" >
				      <tab-heading  translate="NONPROFIT-PROFILE.CAMPAIGNS">
				      </tab-heading>
				      <div  data-ng-include=" 'layouts/components/campaignList.html' " ></div>
				    </tab>

				     <tab ng-click="loadPosts()">
				      <tab-heading translate="NONPROFIT-PROFILE.UPDATES">  
				      </tab-heading>
				     	<div  data-ng-include=" 'layouts/components/postsList.html' " ></div>
				    </tab>
      
  				</tabset>
	 		</div>
	 		<div class="col-md-1">
	 		</div>
 			</div>
		 </div>
	</div>
</div>
