

<div class="panel-body">

	<h1 class=" font-thin h2 register-title"
		translate="REGISTER-DONOR.TITTLE">Register Donor</h1>



	<div class="col-sm-12 md-whiteframe-treeseed-form">

		<form class="form-horizontal" id="createDonorForm" name="registerForm"
			role="form">
			<div class="form-group">
				<div class="col-sm-6">
					<label class="control-label" translate="REGISTER-DONOR.NAME">Name</label>
					<input type="text" id="name" name="name" ng-model="requestObject.donor.name"
						class="form-control" required>
						
					<span ng-show='registerForm.name.$error.required && registerForm.name.$touched'
				translate="VALIDATIONS.VAL-NAME" class="validation-message"></span>
				</div>

				<div class="col-sm-6">
					<label for="lastname" class="control-label"
						translate="REGISTER-DONOR.LASTNAME">Last Name</label> <input
						type="text" id="lastname" name="lastName" ng-model="requestObject.donor.lastName"
						class="form-control" required>
						<span ng-show='registerForm.lastName.$error.required && registerForm.lastName.$touched'
				translate="VALIDATIONS.VAL-LAST-NAME"  class="validation-message"></span>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-6">
					<label class="control-label" translate="REGISTER-DONOR.EMAIL">Email</label>

					<input type="email" is-email-unique="" name="email" id="jsEmail"		
						ng-model="requestObject.donor.userGeneral.email"
						class="form-control email-class" required> 
						
						<span
						 class="validation-message"
						ng-show="registerForm.email.$error.unique"
						translate="REGISTER-DONOR.EXISTEMAIL"> </span>
						
							<span ng-if='registerForm.email.$error.required && registerForm.email.$touched'
				translate="VALIDATIONS.VAL-EMAIL"  class="validation-message"></span>
				<br/>
					<span ng-if='registerForm.email.$invalid && registerForm.email.$touched && registerForm.email.$dirty'
				translate="VALIDATIONS.VAL-EMAIL-FORMAT"  class="validation-message"></span>
				</div>

				<div class="col-sm-6">
					<label for="lastname" class="control-label"
						translate="REGISTER-DONOR.COUNTRY">Country</label> <select
						ng-model="requestObject.donor.country" class="form-control" name="country"
						ng-options="s as s.message for s in selectSortOptions" required></select>
						
							<span ng-show='registerForm.country.$error.required && registerForm.country.$touched'
				translate="VALIDATIONS.VAL-COUNTRY"  class="validation-message"></span>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-6">
					<label class="control-label" translate="REGISTER-DONOR.PASSWORD">Password</label>

					<input type="password" name="password"
						ng-model="requestObject.donor.userGeneral.password"
						class="form-control" required>
						
					<span ng-show='registerForm.password.$error.required && registerForm.password.$touched'
				translate="VALIDATIONS.VAL-PASSWORD"  class="validation-message"></span>
				</div>

				<div class="col-sm-6">
					<label for="lastname" class="control-label"
						translate="REGISTER-DONOR.PASSWORD-CONFIRM">Confirm
						Password</label> <input type="password" class="form-control"
						name="confirm_password" required ng-model="confirm_password"
						ui-validate=" '$value==requestObject.donor.userGeneral.password' "
						ui-validate-watch=" 'requestObject.donor.userGeneral.password' ">
						
						<span ng-show='registerForm.confirm_password.$error.validator && registerForm.confirm_password.$touched'
				translate="VALIDATIONS.PASSWORD-MESSAGE"  class="validation-message"></span>

				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4">
					<button type="submit" ng-click="create()" class="btn btn-primary"
						ng-disabled="registerForm.$invalid"
						translate="REGISTER-DONOR.REGISTER">Register</button>
					<br/>
					<br/>
					<a href="#" id="login" style="width:200px;" class="btn btn-primary btn-facebook  btn-block indigo" ><i
									class="fa fa-facebook pull-left indigo"></i><label
									translate="REGISTER-DONOR.REGISTERFACEBOOK"></label></a>
									
					<span class="input-error-message" ng-show="facebookFail" translate="REGISTER-DONOR.EXISTEMAIL">Correo ya registrado</span>
				</div>
				<div class="col-sm-4">
					
				</div>
			</div>
		</form>
	</div>


</div>


