<div class="panel panel-default">
    <div class="panel-heading font-bold">
      Register Donor
    </div>
    <div class="panel-body">
      <form class="form-horizontal col-sm-5 col-sm-offset-0" id="createDonorForm" role="form">
      	<md-input-container flex>
          <label>Name</label>
          <input type="text" ng-model="requestObject.donor.name" class="form-control">   
        </md-input-container>
        <md-input-container flex>
          <label>Last Name</label>
         <input type="text" ng-model="requestObject.donor.lastName" class="form-control">  
        </md-input-container>
        <md-input-container flex>
          <label>Email</label>
          <input type="text" ng-model="requestObject.donor.userGeneral.email" class="form-control">   
        </md-input-container>
        <md-input-container flex>
          <label>Password</label>
         <input type="password" ng-model="requestObject.donor.userGeneral.password" class="form-control">  
        </md-input-container>
        <md-input-container flex> 
        <label>Country</label>
        <select ng-model="requestObject.donor.country" class="form-control" ng-options="s.id as s.name for s in selectSortOptions"></select>  	
        </md-input-container>
        <label>Picture Image</label>
        <div class="panel wrapper">
	        <img id="fileDisplayArea" style="width:200px;height:200px;"/>
	        <div ng-controller="dragnDropController" id="file-drop" style="width:200px;height:200px;" class="col-lg-4 b-a b-2x b-dashed wrapper-lg lter text-center" imagedrop on-image-drop="imageDropped()">
	    		Drop an image here to upload.
			</div>
		</div> 
		<br>
        <div class="form-group">
          <div class="col-sm-5 col-sm-offset-0">
            <button type="submit" class="btn btn-default">Cancel</button>
            <button type="submit" ng-click="create()" class="btn btn-primary">Register</button>
          </div>
        </div>
      </form>
    </div>    
</div>    