.center-menu-item{

    text-align: center;
}


.cover-image{
	width: 85%;
	height: 50%;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
}

.non-profit-profile{
	width: 88%;
	height: 20%;
}