.center-menu-item{

    text-align: center;
}


.cover-image{
 width: 85%;
 height: 50%;
 margin-left: 15px;
 margin-right: 15px;
 margin-bottom: 15px;
}

.non-profit-profile{
	width: 88%;
	height: 20%;
}

.labels-dropdowns{
	position:relative;
    top:0;
    left:0;
    z-index:0;
    display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
    font-size:.85em;
    opacity:.5;
    -webkit-transition:all .2s;
    transition:all .2s
}

.md-input:focus,
.md-input .focus {
    padding-bottom:1px;
    border-color:#2196f3;
    border-bottom-width:2px
}
.md-input:focus~label,
.md-input .focus~label {
    top:0!important;
    font-size:.85em!important;
    color:#2196f3;
    opacity:1
}

dragnDrop.dragOver #file-drop{
	display:block;
} /* During drag */
dragnDrop #file-drop{
	z-index:1000;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:none;
} /* No drag */

.md-whiteframe-treeseed {
    box-shadow:0 2px 5px 0 rgba(0,
    0,
    0,
    0.26);
    min-height:250px;
    min-width: 300px;
    padding-top: 20px;
    background-color: white;
    padding-bottom: 20px;
    padding-right: 20px
}
 .md-select-label {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 7px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
  font-size: 1.6rem;
  line-height: 0.8em;
  position: relative;
  box-sizing: border-box;
  min-width: inherit; }


}

.main{
 background-color: white;
}

.header-menu-img{
	width: 50px !important;
	height: 44px !important;
}

.header-menu-name{
	display: inline-block;
margin-right: 10px;
}

.landing-header-image{
    background-image: url('../images/landing-treeseed1.jpg') ;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 color:white;
 text-align: center;
 background-size: 100% 100%;
}


.let-it-grow-button{
 font-size: 18px;
 font-weight: bold;
 
}


.let-it-grow-icon{
 font-size: 25px;
 font-weight: bold;
}

.landing-header-text{
   font-size:70px;
   font-weight:bold;
}

.landing-header-parragraph{
   font-size:20px;
   margin-top:15px;
}

.landing-info-div{
 text-align: center;
 background-color: white;
 margin-top:30px;
 margin-bottom: 30px;
}

.landing-info-parragraph{
   font-size:20px;
   margin-top:px;
   padding-left: 15%;
padding-right: 15%;
}

.landing-info-header{
   font-size:45px;
   margin-top:15px;
}

.landing-header-botton{
   margin-bottom: 80px;
   margin-top:30px;
}


.landing-events-image1{
    background-image: url('../images/landing-kid2.jpg') ;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 color:white;
 text-align:  left;
 height: 600px;
 padding-top: 70px;
padding-left: 70px;
padding-right: 70px;

background-size: 100% 100%;
 
}

.landing-events-image2{
    background-image: url('../images/landing-ngo2.jpg') ;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 color:white;
 text-align: left;
 height: 300px;
 padding-left: 25px;
padding-right: 25px;
background-size: 100% 100%;
}

.landing-events-image3{
    background-image: url('../images/landing-ngo7.jpg') ;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 color:white;
 text-align:  left;
 height: 300px;
 padding-left: 25px;
padding-right: 25px;
background-size: 100% 100%;
}

.landing-events-header{
 font-size: 45px;
 font-weight: bold;
}

.landing-events-text{
 font-size: 19px;
}

.landing-icons-div{
 text-align: center;
 margin-bottom:40px;
}

.landing-icons-div i{
	font-size: 100px;
}

.landing-icons-div .explore{
 color: #0a5c2d;
}

.landing-icons-div  .support{
 color: #f00fa2;
}

.landing-icons-div  .share{
 color: #fb8d44;
}

.landing-icons-div  span{
 font-weight: bold;
font-size: 18px;
}

.landing-testimonial-info{
 padding-left: 100px;
 padding-right: 60px;
 padding-top: 60px;
}

.landing-testimonial-header{
 color: white;
 font-size: 30px;
 font-weight:bold;
}
.landing-testimonial-text{
 color:white;
 font-size:18px;
}


.circular-image {
 width: 400px;
 height: 400px;
 border-radius: 200px;
 -webkit-border-radius: 200px;
 -moz-border-radius: 200px;
 background: url(../images/landing-ngo6.jpg) ;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 box-shadow: 0 0 8px rgba(0, 0, 0, .8);
 -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
 -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
 margin-left: auto;
margin-right: auto;
margin-top: 15px;
margin-bottom: 15px;
 }
 
.landing-page-footer{
 height: 90px;
 text-align: right;
padding-top: 15px;
padding-right: 15px;
}


.btn-icon.btn-sm.landing{
 width: 60px;
 height: 60px;
}

.btn-icon.btn-sm i.landing{
 font-size: 30px;
margin-top: 15px;
}

.linkedin {
 display: inline-block;
 margin-top: 5;
 font-size: 30px;
font-weight: bold;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
	height:300px;
	width:100%
  
}
textarea {
  resize: none;
}
 .btn-primary {
    color:#fff!important;
    background-color:#2196f3;
    border-color:#2196f3
}

.btn-facebook {
     color:#fff!important;
    background-color:#3f51b5!important;
    border-color:#3f51b5!important
}

 .btn-primary:focus,
 .btn-primary:active,
 .btn-primary.active,
 .btn-primary:hover{
 color:#fff!important;
 background-color:#3f51b5;
 border-color:#3f51b5
 }



 .btn-primary.disabled,
 .btn-primary[disabled],
fieldset[disabled] .btn-primary,
 .btn-primary.disabled:hover,
 .btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
 .btn-primary.disabled:focus,
 .btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
 .btn-primary.disabled:active,
 .btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
 .btn-primary.disabled.active,
 .btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color:#2196f3;
    border-color:#2196f3
}


.verticalLine {
    border-left:  solid #2196f3;
   	border-left-width: 2px
}
 .md-input:focus,
 .md-input.focus {
    padding-bottom:1px;
    border-color:#2196f3;
    border-bottom-width:2px
}

.divAround{
	{
    display: -webkit-flex; /* Safari */
    -webkit-flex-flow: row wrap; /* Safari 6.1+ */
    -webkit-align-content: space-around; /* Safari 7.0+ */
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    height: 100%;
  	margin-top: 0;
 	margin-bottom: 0;
    
}
.inside-full-height {
  /*
  // if you want to give content full height give him height: 100%;
  // with content full height you can't apply margins to the content
  // content full height does not work in ie http://stackoverflow.com/questions/27384433/ie-display-table-cell-child-ignores-height-100
  */
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}
.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-sm-height {
    display: table-cell;
    float: none;
    height: 100%;
  }


.btn-login-header{
	margin: 10px;
}

