<div class="bg-light lter b-b wrapper-md">
	<h1 class="m-n font-thin h3" translate="CREATE-CAMPAING.TITLE"></h1>
</div>
<div class="wrapper-sm w-xxxl">
	<tabset class="tab-container"
		ng-init="steps={ step1:true, step2:false, step3:false}">
	<tab heading='translate="CREATE-CAMPAING.BAR"' active="steps.step1"
		>
	<p class="m-b" translate="CREATE-CAMPAING.BAR"></p>
	<progressbar value="percent" class="progress-xs" type="success"></progressbar>
	<form name="step1" class="form-validation">
		<div class="form-group">
			<p translate="CREATE-CAMPAING.TAB-1.NAME">Name</p>
			<input name="name" class="form-control" ng-model="campaing.name"
				required 
				ng-blur="progressControl(1,step1.name.$valid)">
			<p class="m-t" translate="CREATE-CAMPAING.TAB-1.DESCRIPTION">Description:</p>
			<textarea class="form-control" rows="6"
				ng-model="campaing.description" name="description"  required ng-blur="progressControl(2,step1.description.$valid)"></textarea>
		</div>
		<div class="m-t m-b">
			<button type="submit" ng-disabled="step1.$invalid"
				class="btn btn-default btn-rounded" ng-click="steps.step2=true" translate="CREATE-CAMPAING.TAB-1.BUTTON-NEXT">Next</button>
		</div>
	</form>
	</tab> <tab heading='translate="CREATE-CAMPAING.TAB-2.TITLE"' disabled="step1.$invalid" active="steps.step2"
		>
	<form name="step2" class="form-validation">
		<p class="m-b" translate="CREATE-CAMPAING.BAR">Creation process</p>
		<progressbar value="percent" class="progress-xs" type="success"></progressbar>
		<div class="form-group">
		
		<p translate="CREATE-CAMPAING.TAB-2.DATE">Due Date:</p>
		<div ng-controller="DatepickerCtrl" >
            <div class="input-group ">
              <input type="text" name="date" class="form-control" datepicker-popup="{{format}}" ng-model="campaing.dueDate" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-blur="progressControl(3,step2.date.$valid)"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
		
		<p class="m-t" translate="CREATE-CAMPAING.TAB-2.AMOUNT">Amount goal:</p>   
		<div class="input-group m-b">
			<span class="input-group-addon">$</span> 
			<input type="number" ui-validate=" '$value>0' " name="amount" class="form-control" ng-model="campaing.amountGoal" min='0' step="1" decimals="2"required ng-blur="progressControl(4,step2.amount.$valid)">
		</div>
		<div class="m-t m-b">
			<button type="button" class="btn btn-default btn-rounded"
				ng-click="steps.step1=true" translate="CREATE-CAMPAING.TAB-2.BUTTON-PREV">Prev</button>
			<button type="submit" ng-disabled="step2.$invalid"
				class="btn btn-default btn-rounded" ng-click="steps.step3=true" translate="CREATE-CAMPAING.TAB-2.BUTTON-NEXT">Next</button>
		</div>
		</div>
	</form>
	</tab>
	<tab heading='translate="CREATE-CAMPAING.TAB-3.TITLE"' disabled="step2.$invalid" active="steps.step3" ng-controller="dragnDropController">
	<p class="m-b" translate="CREATE-CAMPAING.BAR">Creation process</p>
      <progressbar value="percent" class="progress-xs" type="success"></progressbar>
      <p class="m-b" translate="CREATE-CAMPAING.TAB-3.IMAGE"></p>
      <div class="md-whiteframe-treeseed" 	style="align-content: center!important;">
				<label class="labels-dropdowns"
					></label>
				<div class="panel wrapper" layout-align="center center">
					<img id="fileDisplayArea" style="width: 356px; height: 200px;" />
					<div ng-controller="dragnDropController" id="file-drop"
						style="width: 200px; height: 200px;"
						class="col-lg-4 b-a b-2x b-dashed wrapper-lg lter text-center"
						imagedrop on-image-drop="imageDropped()"
						translate="CREATE-CAMPAING.TAB-3.DROPIMAGE">Drop an image here
						to upload.</div>
				</div>
			</div>
      <div class="m-t m-b">
        <button type="button" class="btn btn-default btn-rounded" ng-click="steps.step2=true" translate="CREATE-CAMPAING.TAB-3.BUTTON-PREV">Prev</button>
        <button type="button" class="btn btn-default btn-rounded" ng-disable="!uploadImage" ng-click="percent=100" translate="CREATE-CAMPAING.TAB-3.BUTTON-FINALIZE">Click me to Finish</button>
      </div>
    </tab>
  </tabset>
</div>