<div class="w-auto-xs" >
	<div class="row " ng-controller="dragnDropController">
		<div class="col-sm-12 ">
	       <div class="modal-body">
    			<p translate="CAMPAIGN.CONFIRMATION"></p>
	      	</div>
    		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal()" translate="CAMPAIGN.CANCEL">Cancel</button>
		        <button type="button" class="btn btn-danger"  ng-click="accept()" translate="CAMPAIGN.CLOSE">Close Campaign</button>
	      	</div>
			
		</div>
	</div>	
</div>
