<div class="modal-header">
	<h3 class="modal-title" translate="POST-MODAL.MODAL-TITLE">TITLE</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-sm-12">
			<form class="col-sm-12  form-horizontal form-validation" id="registerPost"
				name="registerForm" role="form" required>
				<div class="form-group">
					<div class="col-lg-6">

						<p translate="POST-MODAL.TITLE">Title</p>
						<input name="txt-name"
							placeholder="{{'POST-MODAL.TITLE'| translate}}"
							class="form-control" ng-model="post.title" required>

						<p class="m-t" translate="POST-MODAL.DESCRIPTION">Description:</p>
						<textarea class="form-control" rows="6" name="txa-description"
							ng-model="post.description" maxlength="{{maxCarac}}"
							name="description"
							placeholder="{{'POST-MODAL.DESCRIPTION'| translate}}"
							required ></textarea>
						<span>{{post.description.length}}/{{maxCarac}}</span>


					</div>


					<div class="col-lg-6 post-img-div">

						<div ng-controller="dragnDropController" id="file-drop"
							class=" b-a b-2x b-dashed wrapper-sm lter text-center post-modal-image-drop"
							imagedrop on-image-drop="imageDropped()"
							translate="POST-MODAL.DROP-IMAGE">Drop an image here to
							upload.</div>
						<img id="fileDisplayArea" class="post-modal-img" ng-src="{{postRequestModal.postNonprofit.picture}}" />
					</div>
				</div>

			</form>
		</div>
	</div>
</div>
<div class="modal-footer">

	<button type="submit" class="btn btn-default" ng-click="close()"
		translate="POST-MODAL.CANCEL">Cancel</button>
	<button type="submit" ng-disabled="registerForm.$invalid"
		ng-click="createPost()" class="btn btn-primary"
		translate="POST-MODAL.ADD-BUTTON"></button>

</div>