<div class="modal-header">
	<h3 class="modal-title" translate="POST-MODAL.MODAL-TITLE">TITLE</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-sm-12">
			<form class="col-sm-12  form-horizontal" id="registerPost"
				name="registerForm" role="form" required>
				<div class="form-group">

					<div class="col-lg-6">
						<md-input-container flex> <label
							translate="POST-MODAL.TITLE"></label> <input type="text"
							ng-model="post.title" class="form-control" required> </md-input-container>



						<md-input-container flex> <label
							translate="POST-MODAL.DESCRIPTION"></label> <textarea cols="40"
							rows="8" class="post-modal-text-area" name="txa-description" style="max-height: 212px;"
							ng-model="post.descripcion" required></textarea> </md-input-container>




					</div>


					<div class="col-lg-6 post-img-div">

						<div ng-controller="dragnDropController" id="file-drop"
							class=" b-a b-2x b-dashed wrapper-sm lter text-center post-modal-image-drop"
							imagedrop on-image-drop="imageDropped()"
							translate="POST-MODAL.DROP-IMAGE">Drop an image here
							to upload.</div>
						<img id="fileDisplayArea" class="post-modal-img" />
					</div>
				</div>

			</form>
		</div>
	</div>
</div>
<div class="modal-footer">

	<button type="submit" class="btn btn-default" ng-click="close()"
		translate="POST-MODAL.CANCEL">Cancel</button>
	<button type="submit" ng-disabled="registerForm.$invalid"
		ng-click="createPost()" class="btn btn-primary"
		translate="POST-MODAL.ADD-BUTTON"></button>

</div>