<div class="w-auto-xs" >
	<div class="row " ng-controller="dragnDropController">
		<div class="col-sm-12 ">
	       <div class="modal-body">
    			<p translate="DELETE-MODAL.MESSAGE"></p>
	      	</div>
    		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModalWithoutEdit()" translate="DELETE-MODAL.CANCEL">Cancel</button>
		        <button type="button" class="btn btn-primary"  ng-click="closeModal()" translate="DELETE-MODAL.DELETE">Delete</button>
	      	</div>
			
		</div>
	</div>	
</div>
