<div class="w-auto-xs" >
	<div class="row ">
		<div class="col-sm-12 md-whiteframe-treeseed" id="divIm" ng-controller="dragnDropController">
	        <md-input-container flex> 
	        	<div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        	<h4 class="modal-title">Delete User</h4>
		      	</div>
	         </md-input-container>
	        <div class="panel wrapper">
	       		<div class="modal-body">
	        		<p>Are you sure you want to delete the user</p>
		      	</div>
		      	<div class="modal-footer">
		        	<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModalWithoutDelete()">Cancel</button>
			        <button type="button" class="btn btn-primary"  ng-click="closeModal()">Delete</button>
		      </div>
			</div>
		</div>
	</div>
	
</div>
