<div class="modal-header">
	<h3 class="modal-title" translate="DONATION-MODAL.TITLE">TITLE</h3>
</div>

<div class="modal-body">

	<tabset class="tab-container"
		ng-init="steps={ step1:true, step2:false}">  
			
	<tab active="steps.step2">
	<tab-heading translate="DONATION-MODAL.DONATION">donation</tab-heading>

	<form name="step2" class="form-validation" stripe-form="stripeCallback">
		<div class="form-group">
		
			 <label for="card" translate="DONATION-MODAL.CARD-NUMBER" class="control-label">Select a credit Card</label>
			 <div class="row" >
		 		<div class="col-sm-1">
		 		   <input type="radio" name="selectedCard" ng-model="cardRequest.selectedCard" value="new" ng-change="setRequired()" required>
		 		</div>
		 		<div class="col-sm-11" translate="DONATION-MODAL.NEW-CARD-NUMBER">
			 		New Credit Card
			 	</div>
			 </div>
			 <div class="row" ng-repeat="c in donorCards.cards" ng-if="!load.isLoading">
			 	<div class="col-sm-1">
			 		   <input type="radio" name="selectedCard" ng-model="cardRequest.selectedCard" ng-change="setRequired()"  value="{{c.id}}" required>
			 	</div>
			 	<div class="col-sm-3">
			 		{{c.brand}}
			 	</div>
			 	<div class="col-sm-5">
			 		{{hide}}{{c.last4Numbers}}
			 	</div>
			 	<div class="col-sm-3">
			 		<span translate="DONATION-MODAL.EXP-DATE">Exp Date: </span>{{c.expMonth}}/{{c.expYear}}
			 	</div>
			 </div>
			 <div ng-if="load.isLoading">
			 	<br/>
			 	<p class="loading-paragraph" translate="DONATION-MODAL.LOADING-CARDS">Loading creadit cards</p>
			 	<md-progress-circular style="display: block;margin-right: auto;transform: scale(1);margin-left: auto;" 
			 	class=" bg-info" md-mode="indeterminate"></md-progress-circular>
			 	<br/>
			 </div>
			 
		</div>	 
		<div class="form-group" ng-show="cardRequest.selectedCard == 'new'">
			<div class="row">
				<div class="col-sm-12">
					<label for="card"  class=" control-label"  translate="DONATION-MODAL.NEW-CARD-NUMBER">New Credit Card</label>
				 	 <input type="text"  class="form-control"  data-stripe="number" ng-model='number'
						payments-format="card" payments-validate="card"  name="card"  required />
					 <span ng-if='step2.card.$invalid &&  step2.card.$touched' class="input-error-message" translate="DONATION-MODAL.INVALID-CARD"></span>		
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
				<label for="cvc" translate="DONATION-MODAL.CVC" class="control-label">CVC</label>	 
				 <input type="text"  class="form-control"  data-stripe="cvc" ng-model='cvc'
				 payments-format="cvc"  payments-validate="cvc"  name="cvc"  required/>
		
			  	<span ng-if='step2.cvc.$invalid && step2.cvc.$touched' class="input-error-message" translate="DONATION-MODAL.INVALID-CVC"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<label for="cvc" translate="DONATION-MODAL.EXP-DATE" class="control-label">exp date</label>
					 <input type="text"  class="form-control"  data-stripe="exp" ng-model='expiry'
					 payments-format="expiry"  payments-validate="expiry" name="expiry"  required/>
			  		<span ng-if='step2.expiry.$invalid && step2.expiry.$touched' class="input-error-message" translate="DONATION-MODAL.INVALID-EXP"></span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="cvc" class="control-label" translate="DONATION-MODAL.TYPE">Donation Type</label>

				 <select class="form-control m-b" ng-model="donationInfo.donationPlan" ng-change="checkAmount()"
				 name="donationPlan" required>
				  <optgroup label="{{'DONATION-PLAN.SIMPLE'| translate}}">
				    <option value="custom" translate="DONATION-PLAN.CUSTOM"></option>
				  </optgroup>
				  <optgroup label="{{'DONATION-PLAN.MONTHLY'| translate}}">
				    <option value="1" translate="DONATION-PLAN.10">$10</option>
				    <option value="2" translate="DONATION-PLAN.18">$18</option>
				    <option value="3" translate="DONATION-PLAN.36">$36</option>
				    <option value="4" translate="DONATION-PLAN.50">$50</option>
				    <option value="5" translate="DONATION-PLAN.100">$100</option>
				    <option value="6" translate="DONATION-PLAN.250">$250</option>
				  </optgroup>
				</select> 
		</div>
		<div class="form-group" ng-show="donationInfo.donationPlan == 'custom' ">
			<label for="cvc" translate="DONATION-MODAL.AMOUNT" class="control-label">Amount</label>

				<div  class="input-group m-b">
				<span class="input-group-addon">$</span> <input type="number"
					ui-validate=" '$value>0' "  name="amount" class="form-control"
					ng-model="donationInfo.amount" min='5' decimals="2"
					required>
				</div>
	
		</div>
 		<div class="form-group">
				<span class="payment-errors text-danger"></span>
				<button type="submit" ng-show="hideSubmit"  ng-disabled="step2.$invalid"  id="btn-submit"
					class="btn m-b-xs w-xs btn-success btn-rounded" ng-click="steps.step2=true">SUBMIT</button>
					
				<button type="button" ng-disabled="step2.$invalid" 
					class="btn m-b-xs w-xs btn-success btn-rounded" ng-click="submitForm()"
					translate="DONATION-MODAL.DONATE"
				>donate</button>
		</div>
			
	</form>
	</tab> 
</tabset>

</div>
<div class="modal-footer">

	<button type="button" class="btn m-b-xs w-xs btn-warning btn-rounded" ng-click="close()"
		translate="DONATION-MODAL.CANCEL">Cancel</button>
	
</div>
