
<div ng-controller="treeController">

	<div class="column">
		<div class="row"> 
		<div class="col-md-3"></div>
		<div class="col-md-6" ng-show="showAmount" style="text-align: center;">
		<span class=" h3" translate="TREE.MESSAGE"></span><span class="text-success h3"> {{totalAmount| currency}}</span>
		</div>
		<div class="col-md-3"></div>
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8" id="treeDiv"></div>
			<div class="col-md-2">
			<!--  <svg id="mySvg" width="0" height="0">
     			<defs id="mdef">
       			<pattern id="treeImage" x="0" y="0" height="40" width="40">
         				<image x="0" y="0" width="40" height="40"
							xlink:href="resources/file-storage/treeGreen.png"></image>
       			</pattern>
 				</defs>-->
				<div ng-repeat="donor in donors">
					<svg id="mySvg" width="0" height="0">
     			<defs id="mdef">
       			<pattern id="{{donor.id}}" x="0" y="0" height="40" width="40">
         				<image x="0" y="0" width="40" height="40"
							xlink:href="{{donor.image}}"></image>
       			</pattern>
 				</defs>
		
				</div>
			</div>
		</div>
	</div>
</div>