<div class="aside-wrap" ng-controller="sideMenuDonorController">

  <div class="navi-wrap">

<!-- list -->
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span translate="LEFT-MENU.NAVIGATION">Navigation</span>
  </li>
  <li>
    <a ng-click="goProfile()" md-ink-ripple class="auto">
      <i class="glyphicon glyphicon-user icon"></i>
      <span class="font-bold" translate="LEFT-MENU.PROFILE">PROFILE</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="treeSeed.donorReceipts" md-ink-ripple>
      <i class="glyphicon   glyphicon-book icon"></i>
      <span class="font-bold" translate="LEFT-MENU.DONATION-RECEIPTS">DONATION-RECEIPTS</span>
    </a>
  </li>
  <li ui-sref="treeSeed.donorSettings">
    <a ng-click="goProfileSettings()" md-ink-ripple class="auto">
      <i class="glyphicon  glyphicon-cog icon"></i>
      <span class="font-bold" translate="LEFT-MENU.CONFIGURATION">CONFIGURATION</span>
    </a>
  </li>
</ul>
<!-- / list -->

</div>
</div>