<!-- list -->
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span translate="LEFT-MENU.NAVIGATION">Navigation</span>
  </li>
  <li>
    <a ui-sref="app.dashboard-v3" md-ink-ripple class="auto">
      <i class="glyphicon glyphicon-user icon"></i>
      <span class="font-bold" translate="LEFT-MENU.PROFILE">PROFILE</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.calendar" md-ink-ripple>
      <i class="glyphicon   glyphicon-book icon"></i>
      <span class="font-bold" translate="LEFT-MENU.DONATION-RECEIPTS">DONATION-RECEIPTS</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.mail.list" md-ink-ripple>
      <i class="glyphicon glyphicon-briefcase icon"></i>
      <span class="font-bold" translate="LEFT-MENU.PORTFOLIO">PORTFOLIO</span>
    </a>
  </li>

  <li ui-sref-active="active">
    <a ui-sref="app.mail.list" md-ink-ripple>
      <i class="glyphicon  glyphicon-cog icon"></i>
      <span class="font-bold" translate="LEFT-MENU.CONFIGURATION">CONFIGURATION</span>
    </a>
  </li>
</ul>
<!-- / list -->
