<div class="modal-header">
	<h3 class="modal-title" translate="PORTFOLIO-MODAL.TITLE">TITLE</h3>
</div>

<div class="modal-body">


	<form name="frmEditDonations" class="form-validation" >
 
		
		<div class="row" ng-repeat="r in request.donations">
			<div class="col-md-4">
				<div class="form-group">
					{{r.nonprofitName}}{{r.campaignName}}
				</div>
			</div>
			<div class="col-md-8">
			<div class="form-group">
			<select class="form-control m-b" ng-model="r.planId" ng-change="setChanged(r)"
						 name="selectedPlan" required>
				  			<option value="1" translate="DONATION-PLAN.10" >$10</option>
						    <option value="2" translate="DONATION-PLAN.18" >$18</option>
						    <option value="3" translate="DONATION-PLAN.36" >$36</option>
						    <option value="4" translate="DONATION-PLAN.50" >$50</option>
						    <option value="5" translate="DONATION-PLAN.100" >$100</option>
						    <option value="6" translate="DONATION-PLAN.250" >$250</option>	  
				</select> 
			</div>
			</div>
		</div>
	
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">		
					<button type="button" ng-disabled="isSubmited" 
						class="btn m-b-xs w-xs btn-success btn-rounded" ng-click="saveDonations()"
						translate="PORTFOLIO-MODAL.SAVE">SAVE</button>
						<button type="button" class="btn m-b-xs w-xs btn-danger btn-rounded" ng-click="close()"
		translate="DONATION-MODAL.CANCEL">Cancel</button>
				</div>
			</div>
		</div>
 		
			
	</form>
	
</tabset>

</div>

