<div ng-controller="headerMenuCtrl" class="" >
<!-- navbar header -->
      <div class="navbar-header">
        <button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
          <i class="glyphicon glyphicon-cog"></i>
        </button>
        <button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".md-aside" ui-scroll-to="app">
          <i class="glyphicon glyphicon-align-justify"></i>
        </button>
        <!-- brand -->
        <a href="" ng-click="goDashboard()" class="navbar-brand treeseed-a-img">
         
         <img src="resources/images/nombre.png"   alt="."  class="treeseed-img">
          
        </a>
        <!-- / brand -->
      </div>
      <!-- / navbar header -->

      <!-- navbar collapse -->
      <div class="collapse navbar-collapse box-shadow blue" ng-controller='navigateController'>

        <!-- link and dropdown -->
           
        <ul class="nav navbar-nav hidden-sm">
          <li class="dropdown" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
              <i class="fa fa-fw fa-plus visible-xs-inline-block"></i>
              <span translate="MENU-HEADER.EXPLORE">Explore</span> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a ui-sref="treeSeed.nonProfitSearch"> <span
							translate="MENU-HEADER.SEARCH_NGO">SEARCH_NGO</span>
				</a>
			 </li>
              <li>
                <a ui-sref="treeSeed.donorSearch">
                  <span translate="MENU-HEADER.SEARCH_DONOR">SEARCH_DONOR</span>
                </a>
              </li>
               <li>
                <a ui-sref="treeSeed.campaignSearch">
                  <span translate="MENU-HEADER.SEARCH_CAMPAIGN"></span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- / link and dropdown -->

      	<script type="text/ng-template" id="customTemplate.html">
  			<a  ui-sref="treeSeed.{{match.model.type}}({nonProfitId:'{{match.model.id}}'})" class="general-search-result">
				 <img ng-src="{{match.model.imageURL}}" alt="Smiley face" class="general-search-image"> 
 				<span bind-html-unsafe="match.label | typeaheadHighlight:query" class="general-search-span"></span>
 				
 			</a>
	</script>

		<!-- search form -->
		<form class="navbar-form navbar-form-sm navbar-left shift"
			ui-shift="prependTo" target=".navbar-collapse" role="search"
			ng-controller="HeaderCtrl">
			<div class="form-group" style="margin-left: 20px;">
				<div class="">
					<input type="text" ng-model="selected"
						typeahead="value as value.name for value in generalSearch($viewValue)"
						class=" input-sm bg-light no-border rounded general-search-input"
						typeahead-template-url="customTemplate.html"
						placeholder="{{'MENU-HEADER.SEARCH'| translate}}"> <span
						class="input-group-btn">
						
					</span>
				</div>
			</div>
		</form>
		<!-- / search form -->

        <!-- nabar right -->
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown hidden-sm" is-open="lang.isopen" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle translate="MENU-HEADER.LENGUAGE">
             Languajes <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
              <li ng-repeat="(langKey, label) in langs">
                <a ng-click="setLang(langKey, $event)" href>{{label}}</a>
              </li>
            </ul>
            <!-- / dropdown -->
          </li>
          <li class="hidden-xs">
            <a ui-fullscreen></a>
          </li>
          <li class="dropdown" dropdown ng-if="isAuthorized(userRoles.donor)||isAuthorized(userRoles.nonprofit)" ng-show="false">
            <a href class="dropdown-toggle" dropdown-toggle>
              <i class="icon-bell fa-fw"></i>
              <span class="visible-xs-inline">Notifications</span>
              <span class="badge badge-sm up bg-danger pull-right-xs"></span>
            </a>
            <!-- dropdown -->
            <div class="dropdown-menu w-xl animated fadeInUp">
            
            </div>
            <!-- / dropdown -->
          </li>
          <li ng-if="isAuthorized(userRoles.guest)" class="btn-login-header" style="margin: 10px;">
          		<button class="btn m-b-xs  btn-success btn-rounded " ng-click="open()" translate="MENU-HEADER.LOG_IN"></button>
          </li>
          <li ng-if="isAuthorized(userRoles.guest)" class="btn-login-header" style="margin: 10px;">
          		<button class="btn m-b-xs  btn-success btn-rounded " ui-sref="treeSeed.selectUser" translate="MENU-HEADER.SIGN-ON"></button>
          </li>
          <li class="dropdown"  ng-if="isAuthorized(userRoles.donor)||isAuthorized(userRoles.nonprofit)" dropdown>
            <a href class="dropdown-toggle clear" dropdown-toggle>
              <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                <img ng-src="{{user.userImage}}" alt="..." class="header-menu-img">
                <i class="on md b-white bottom"></i>
              </span>
              <span class="hidden-sm hidden-md header-menu-name">{{name}}</span> <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
             
              <li>
                <a ng-click='goSettings()'>
                  <span translate="MENU-HEADER.CONFIGURATION">Configuration</span>
                </a>
              </li>
              <li>
                <a ng-click='goProfile()' translate="MENU-HEADER.PROFILE">Profile</a>
              </li>
              <li>
                <a  translate="MENU-HEADER.HELP">
                  help
                </a>
              </li>
              <li class="divider"></li>
              <li ng-controller='logoutController'>
                <a ng-click='logout()' translate="MENU-HEADER.SIGN_OUT">Sign out</a>
              </li>
            </ul>
            <!-- / dropdown -->
          </li>
        </ul>
        <!-- / navbar right -->

      </div>
      <!-- / navbar collapse -->
</div>

