

<!-- nav -->
<nav class="navi " id="user">
  <ul class="nav b-b m-t-sm">
    <li ui-sref-active="active">
      <a ui-sref="treeSeed.nonProfit">
        <i class="glyphicon glyphicon-user icon"></i>
        <span>Perfil</span>
      </a>
    </li>
    <li ui-sref-active="active">
      <a ui-sref="treeSeed.createCampaing">
        <i class="glyphicon glyphicon-cog icon"></i>
        <span>Crear Campaña</span>
      </a>
    </li>
    <li class="m-b-sm">
      <a ui-sref="treeSeed.campaingViewer">
        <i class="glyphicon glyphicon-log-out icon"></i>
        <span>Ver Campaña</span>
      </a>
    </li>
    <li class="m-b-sm">
      <a ui-sref="access.signin">
        <i class="glyphicon glyphicon-log-out icon"></i>
        <span>Reporte de donación</span>
      </a>
    </li>
    <li class="m-b-sm">
      <a ui-sref="treeSeed.searchTransReport">
        <i class="glyphicon glyphicon-log-out icon"></i>
        <span>Reportes de transparencia</span>
      </a>
    </li>
    <li class="m-b-sm">
      <a >
        <i class="glyphicon glyphicon-log-out icon"></i>
        <span>Configuración</span>
      </a>
    </li>
  </ul>
</nav>
<!-- nav -->
