<!-- list -->
<nav  id="user">
  <ul class="nav b-b m-t-sm">
    <li ui-sref-active="active">
      <a ui-sref="treeSeed.donor">
        <i class="glyphicon glyphicon-user icon"></i>
        <span>Perfil</span>
      </a>
    </li>
    <li ui-sref-active="active">
      <a >
        <i class="glyphicon glyphicon-log-out icon"></i>
        <span>Recibos de donaciones</span>
      </a>
    </li>
    <li class="m-b-sm">
      <a >
        <i class="glyphicon glyphicon-log-out icon"></i>
        <span>Portafolio</span>
      </a>
    </li>
    <li >
      <a >
        <i class="glyphicon glyphicon-cog icon"></i>
        <span>Configuración</span>
      </a>
    </li>
  </ul>
</nav>
<!-- / list -->
