<div class="aside-wrap" ng-controller="sideMenuNonprofitController">

  <div class="navi-wrap">

<!-- list -->
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span translate="LEFT-MENU.NAVIGATION">Navigation</span>
  </li>
  <li>
    <a ng-click="goProfile()" md-ink-ripple class="auto">
      <i class="glyphicon glyphicon-user icon"></i>
      <span class="font-bold" translate="LEFT-MENU.PROFILE">PROFILE</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="treeSeed.createCampaing" md-ink-ripple>
      <i class="glyphicon  glyphicon-plus-sign icon"></i>
      <span class="font-bold" translate="LEFT-MENU.CREATE-CAMPAIGN">CREATE-CAMPAIGN</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="treeSeed.campaignManagement" md-ink-ripple>
      <i class="glyphicon glyphicon-briefcase icon"></i>
      <span class="font-bold" translate="LEFT-MENU.SEE-CAMPAIGNS">SEE-CAMPAIGNS</span>
    </a>
  </li>
  
  <li ui-sref-active="active">
    <a ui-sref="treeSeed.nonProfitDonationsReport" md-ink-ripple>
      <i class="glyphicon glyphicon-stats icon"></i>
      <span class="font-bold" translate="LEFT-MENU.DONATIONS-REPORT">DONATIONS-REPORT</span>
    </a>
  </li>
  
  <li ui-sref-active="active">
    <a ui-sref="treeSeed.transparencyReport" md-ink-ripple>
      <i class="glyphicon glyphicon-book icon"></i>
      <span class="font-bold" translate="LEFT-MENU.TRANSPARENCY-REPORT">TRANSPARENCY-REPORT</span>
    </a>
  </li>


  <li ui-sref-active="active">
    <a ui-sref="treeSeed.nonProfitSettings" md-ink-ripple>
      <i class="glyphicon  glyphicon-cog icon"></i>
      <span class="font-bold"  translate="LEFT-MENU.CONFIGURATION">CONFIGURATION</span>
    </a>
  </li>
</ul>
<!-- / list -->

</div>
</div>
