<meta charset="utf-8" />
<div class="wrapper-md">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8" style="text-align: center">
			<span class="dashboard-nonprofit h1 " style="color: #2382c8;"
				translate="DASHBOARD1.WELCOME-MESSAGE">¡Bienvenido!</span>
		</div>
		<div class="col-md-2"></div>
		<!-- <p class="landing-header-parragraph" translate="LANDING.HEADER-TEXT">
				HEADER-TEXT</p> -->

	</div>
	<div class="row">
		<br>
	</div>
	<div class="row">
		<span class="h3" translate="DASHBOARD1.TITLE1">Ultimas 10
			donaciones</span> <br />
		<div class="col-md-12 md-whiteframe-treeseed">

			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-4">
							<span class="dashboard-title" translate="DASHBOARD1.HEADER1"></small>
						</div>
						<div class="col-md-3">
							<span class="dashboard-title" translate="DASHBOARD1.HEADER2"></small>
						</div>
						<div class="col-md-3">
							<span class="dashboard-title" translate="DASHBOARD1.HEADER3"></small>
						</div>
						<div class="col-md-2">
							<span class="dashboard-title" translate="DASHBOARD1.HEADER4"></small>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div ng-hide="showList1" style="text-align: center; width: 100%">
				<span translate="DASHBOARD1.MESSAGE1"></span>
			</div>
			<div class="row dashboard-nonprofit-list">
				<div class="col-md-12" ng-repeat="donation in donations">
					<div class="row">
						<div class="col-md-4">
							<div class="dashboard-list-item-left">
								<img src="{{donation.donor.profilePicture}}"
									class="w-full img-circle">
							</div>

							<h3 class="text-md">{{donation.donor.name}}</h3>
						</div>
						<div class="col-md-3">
							<h3 class="text-md text-success">{{donation.amount|currency}}</h3>
						</div>
						<div class="col-md-3">
							<h3 class="text-md" ng-show="{{donation.campaign}}">{{donation.campaign.name}}</h3>
						</div>
						<div class="col-md-2">
							<h3 class="text-md">{{donation.dateS}}</h3>
						</div>

					</div>
				</div>
				<hr>
			</div>
		</div>
	</div>
	<!-- end row -->


<div class="row">

	<div class="col-md-12 md-whiteframe-treeseed">
		<span class="h3" translate="DASHBOARD1.TITLE2">Ultimas 10
			Subscripciones</span>
		<div class="row">
			<br>

			<div class="col-md-12">
				<div class="row" style="vertical-align: middle">
					<div class="col-md-4">
						<span class="dashboard-title" translate="DASHBOARD1.HEADER1"></small>
					</div>
					<div class="col-md-3">
						<span class="dashboard-title" translate="DASHBOARD1.HEADER2"></small>
					</div>
					<div class="col-md-3">
						<span class="dashboard-title" translate="DASHBOARD1.HEADER3"></small>
					</div>
					<div class="col-md-2">
						<span class="dashboard-title" translate="DASHBOARD1.HEADER4"></small>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div ng-hide="showList2" style="text-align: center; width: 100%">
			<span translate="DASHBOARD1.MESSAGE2"></span>
		</div>
		<div class="row dashboard-nonprofit-list">
			<div class="col-md-12 " style="height: 80px;" ng-repeat="subscription in subscriptions">
			
				<div class="row" >
					<div class="col-md-4">
						<div class="dashboard-list-item-left">
							<img src="{{subscription.donor.profilePicture}}"
								class="w-full img-circle">
						</div>

						<h3 class="text-md">{{subscription.donor.name}}</h3>
					</div>
					<div class="col-md-3">
						<h3 class="text-md text-success">{{subscription.amount|currency}}</h3>
					</div>
					<div class="col-md-3">
						<h3 class="text-md" ng-show="{{subscription.campaignName}}">{{subscription.campaignName}}</h3>
					</div>
					<div class="col-md-2">
						<h3 class="text-md">{{subscription.dateS}}</h3>
					</div>

				</div>
				<hr style="margin: 0px;">
			</div>
		</div>

	</div>
</div>
</div>
