
<md-dialog>
  <div class="w-auto-xs" >
          <a ui-toggle-class="show" ng-click="answer('0')" class="glyphicon glyphicon-remove pull-right"></a>
	<div>
	<form  id="payment-form"  ng-model="form" name="paymentForm" method="POST">
		  <span class="payment-errors"></span>
		
		  <div class="form-row">
		    <label>
		      <span>Card Number</span>
		      <input type="text" size="20" data-stripe="number" ng-model='card'/>
		    </label>
		  </div>
		
		  <div class="form-row">
		    <label>
		      <span>CVC</span>
		      <input type="text" size="4" data-stripe="cvc" ng-model='cvc'/>
		    </label>
		  </div>
		
		  <div class="form-row" ng-model='exp'>
		    <label>
		      <span>Expiration (MM/YYYY)</span>
		      <input type="text" size="2" data-stripe="exp-month" ng-model='exp_month'/>
		    </label>
		    <span> / </span>
		    <input type="text" size="4" data-stripe="exp-year" ng-model='exp_year'/>
		  </div>
		
		  <button ng-click="submit()" ng-disabled="button">Submit Payment</button>
		</form>

	</div>
	<div class="text-center"
		ng-include="'layouts/components/page_footer.html'">{% include
		'blocks/page_footer.html' %}</div>
</div>
</md-dialog>