

<div class="panel-body">

	<h1 class=" font-thin h2 register-title"
		translate="REGISTER-NONPROFIT.TITLE">Register Nonprofit</h1>



	<div class="col-sm-12 md-whiteframe-treeseed-form">

		<form class="form-horizontal" id="registerNonProfit"
			name="registerForm" role="form" required>
			<div class="form-group">
				
				<div class="col-sm-6">
					<label class="control-label" translate="REGISTER-NONPROFIT.NAME">Name</label>
					<input type="text" id="name" name="name" ng-model="nonprofit.name"
						is-name-unique="" class="form-control" required> <span
						ng-show='registerForm.name.$error.required && registerForm.name.$touched'
						translate="VALIDATIONS.VAL-NAME" class="validation-message"></span>
						<span class="validation-message" ng-show="registerForm.name.$error.unique"
							translate="REGISTER-NONPROFIT.NAME-MESSAGE"></span>
				</div>

				<div class="col-sm-6">
					<label class="control-label" translate="REGISTER-NONPROFIT.EMAIL">Email</label>

					<input type="email" is-email-unique="" name="email" id="jsEmail"
						ng-model="nonprofit.userGeneral.email"
						class="form-control email-class" required> <span
						class="validation-message"
						ng-show="registerForm.email.$error.unique"
						translate="REGISTER-DONOR.EXISTEMAIL"> </span> 
						<span
						ng-show='registerForm.email.$error.required && registerForm.email.$touched'
						translate="VALIDATIONS.VAL-EMAIL" class="validation-message"></span>
					<br/>
					<span
						ng-show='registerForm.email.$invalid && registerForm.email.$touched  && registerForm.email.$dirty'
						translate="VALIDATIONS.VAL-EMAIL-FORMAT"
						class="validation-message"></span>
				</div>
			</div>

			<div class="form-group">
				
				<div class="col-sm-6">
					<label for="lastname" class="control-label"
						translate="REGISTER-NONPROFIT.CAUSE">Cause</label> <select
						ng-model="nonprofit.cause" class="form-control"
						name="cause"
						ng-options="s as s.message for s in selectSortOptionsCause" required></select>

					<span
						ng-show='registerForm.cause.$error.required && registerForm.cause.$touched'
						translate="VALIDATIONS.VAL-CAUSE" class="validation-message"></span>
				</div>

				<div class="col-sm-6">
					<label for="lastname" class="control-label"
						translate="REGISTER-NONPROFIT.COUNTRY">Country</label> <select
						ng-model="nonprofit.country" class="form-control"
						name="country"
						ng-options="s as s.message for s in selectSortOptionsCountry" required></select>

					<span
						ng-show='registerForm.country.$error.required && registerForm.country.$touched'
						translate="VALIDATIONS.VAL-COUNTRY" class="validation-message"></span>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-6">
					<label class="control-label" translate="REGISTER-DONOR.PASSWORD">Password</label>

					<input type="password" name="password"
						ng-model="nonprofit.userGeneral.password"
						class="form-control" ng-minlength="8" required> <span
						ng-show='registerForm.password.$error.required && registerForm.password.$touched'
						translate="VALIDATIONS.VAL-PASSWORD" class="validation-message"></span>
						<span class="validation-message" ng-show="registerForm.password.$error.minlength && registerForm.confirm_password.$touched"  translate="VALIDATIONS.VAL-PASSWORD-LENGHT"></span>
				</div>

				<div class="col-sm-6">
					<label for="lastname" class="control-label"
						translate="REGISTER-DONOR.PASSWORD-CONFIRM">Confirm
						Password</label> <input type="password" class="form-control"
						name="confirm_password" required ng-model="confirm_password"
						ui-validate=" '$value==nonprofit.userGeneral.password' "
						ui-validate-watch=" 'nonprofit.userGeneral.password' ">

					<span
						ng-show='registerForm.confirm_password.$error.validator && registerForm.confirm_password.$touched'
						translate="REGISTER-DONOR.PASSWORD-MESSAGE"
						class="validation-message"></span>

				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4" style="text-align: center">
					<button type="submit" ng-hide="showProcess" ng-click="create()" class="btn btn-primary pull-left"
						ng-disabled="registerForm.$invalid"
						translate="REGISTER-NONPROFIT.REGISTER-BUTTON">Register</button>
						<md-progress-circular style="display: block;transform: scale(1);" 
			 	class=" bg-info" md-mode="indeterminate" ng-show="showProcess"></md-progress-circular>
					
				</div>
				<div class="col-sm-4"></div>
			</div>
		</form>
	</div>


</div>


