<!DOCTYPE html>
<meta charset="ISO-8859-1">
<div ng-controller="">
<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" md-is-locked-open="$mdMedia('gt-md')">

      <md-toolbar class="md-theme-light">
          <h1 class="md-toolbar-tools">Sidenav Right</h1>
        </md-toolbar>
        <md-content class="md-padding">
          <md-button ng-click="closeRight()" class="md-primary">
            Close Sidenav Right
          </md-button>
        </md-content>

      </md-sidenav>
</div>