<div ng-controller="searchTransparencyReportController">
	<div class="row m-b-md">
		<div class="col-sm-2"></div>
		<div class="col-sm-3">
			<div class="input-group-btn dropdown" dropdown>
	            <select name="account" class="form-control m-b" ng-model="month">
	              <option selected Translate="NONPROFIT-PROFILE.MONTH"></option>
	              <option Translate="MONTH.JAN">01</option>
	              <option Translate="MONTH.FEB">02</option>
	              <option Translate="MONTH.MAR">03</option>
	              <option Translate="MONTH.APR">04</option>
	              <option Translate="MONTH.MAY">05</option>
	              <option Translate="MONTH.JUN">06</option>
	              <option Translate="MONTH.JUL">07</option>
	              <option Translate="MONTH.AUG">08</option>
	              <option Translate="MONTH.SEP">09</option>
	              <option Translate="MONTH.OCT">10</option>
	              <option Translate="MONTH.NOV">11</option>
	              <option Translate="MONTH.DEC">12</option>
	            </select>
          	</div>
		</div>
		<div class="col-sm-3">
			<div class="input-group-btn dropdown" dropdown>
	            <select name="account" class="form-control m-b" ng-model="year">
	              <option selected Translate="NONPROFIT-PROFILE.YEAR"></option>
	              <option ng-repeat="year in years">{{year}}</option>
	            </select>
          	</div>
		</div>
		<div class="col-sm-3">
			<button type="submit" class="btn btn-info m-b-lg " ng-click="getReports(1)" translate="NONPROFIT-PROFILE.SEARCH"></button>
		</div>
		<div class="col-sm-1"></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<ul
				class="list-group list-group-alt list-group-lg  pull-in m-b-none campaign-scroll">
				<li class="list-group-item li-posts-result" 
	        		dir-paginate="r in reports | itemsPerPage: reportsRequest.pageSize" total-items="totalReports" pagination-id="report-pagin" current-page="reportsPaginCurrentPage">
		          	<div class="clear">
		            	<span class=" post-title h4 text-primary m-b-sm block" >{{r.dateS}}
		            		<button style="width:80px;" ng-if="isOwner" class="btn m-b-xs w-xs btn-danger pull-right" ng-click="openModalDeletePost(p)" translate="NONPROFIT-PROFILE.DETAIL"></button>
		            	</span>
		          	</div>
		          	<div class="row">
		          		<div class="col-sm-3">
		          		</div>
		          		<div class="col-sm-3"> <span translate="NONPROFIT-PROFILE.AMOUNT-IN"></span><span>{{r.amountIn}}</span>
		          		</div>
		          		<div class="col-sm-3"><span translate="NONPROFIT-PROFILE.AMOUNT-OUT"></span><span>{{r.amountOut}}</span>
		          		</div>
		          		<div class="col-sm-3">
		          		</div>
		          	</div>
		        </li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="other-controller">
			<div class="text-center">
				<dir-pagination-controls boundary-links="true"
					on-page-change="getNewReports(newPageNumber)"
					pagination-id="report-pagin"
					template-url="resources/js/libs/angular/dirPagination/dirPagination.tpl.html">
				</dir-pagination-controls>
			</div>
		</div>
	</div>
</div>